$font-UQReg: UniqloProRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-UQBold: UniqloProBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-helNeue: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

font {
    font-family: UniqloProBold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: UniqloProRegular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
}